<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script>
        if (typeof (Storage) !== "undefined") {
            if (localStorage.getItem('dark') && localStorage.getItem('dark') == 'true') {
                document.documentElement.classList.add('dark');
            }
        }
    </script>
    <style>
        html:not(.dark) .prose blockquote{
            border-left-color: #4D6DFF;
        }
        .prose img{
            border-radius:5px;
        }
        html:not(.dark) .prose ul li::marker, html:not(.dark) .prose ol li::marker{
            color: #99ACFF;
            font-weight: bold;
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <script src="//unpkg.com/alpinejs" defer></script>
    {tailwindcss}
</head>

<body class="antialiased">

    <div class="fixed top-0 left-0 w-full h-full min-h-screen min-w-screen bg-commodore-400 dark:bg-gray-900"></div>
    <div class="relative mx-0 my-2 overflow-auto bg-commodore-500 dark:bg-gray-800 md:mx-16 md:my-12">
        <include src="header.html"></include>

        {slot}

    </div>
    <script src="/assets/js/main.js"></script>
    <script src="//unpkg.com/tailwind-breakpoint-tool" defer></script>
</body>

</html>
